<div class="container pt-2">
    <ng-container *ngIf="flight$ | async as flight; else loading">
        <h1>{{ flight.aircraft?.description ?? "Unknown Aircraft" }}</h1>
        <p> {{ flight.startDate | date: 'EEE MM/dd/yyyy h:mm a' }} - {{ flight.endDate | date: 'h:mm a' }}</p>

        <div class="mb-4">
            <h4>
                Statistics
                <button mat-icon-button (click)="recalculateStatistics()" title="Recalculate Statistics" class="ms-1">
                    <mat-icon>sync</mat-icon>
                </button>
            </h4>
            <p *ngIf="!flight.statistics">No statistics available for this flight.</p>
            <div *ngIf="flight.statistics">
                <div>Max Altitude: {{ flight.statistics.maxAltitude !== null ? mToFt(flight.statistics!.maxAltitude) + "ft MSL" : "Unknown" }}</div>
                <div>Distance Traveled: {{ flight.statistics.distanceTraveled !== null ? kmToM(flight.statistics!.distanceTraveled) + "km" : "Unknown" }}</div>
                <div>Release Height: {{ flight.statistics.releaseHeight !== null ? mToFt(flight.statistics!.releaseHeight) + "ft MSL" : "Unknown" }}</div>
                <div>Pattern Entry Altitude: {{ flight.statistics.patternEntryAltitude !== null ? mToFt(flight.statistics!.patternEntryAltitude) + "ft MSL" : "Unknown" }}</div>
            </div>
        </div>
    </ng-container>
</div>

<div class="container-fluid pb-4">
    <div class="row">
        <div class="col-xl-6">
            <div class="map-container" [class.d-none]="!(flight$ | async)">
                <div class="map-frame">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <canvas baseChart *ngIf="chartConfig$ | async as chartConfig"
                [data]="chartConfig.data"
                [options]="chartConfig.options"
                [type]="'line'">
            </canvas>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="mt-4">
        <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner>
    </div>
</ng-template>