<div class="container-md pb-4">

    <ng-container *ngIf="flights$ | async as flights; else loading">

        <!-- Week Navigator -->
        <nav class="d-none d-md-block w-xl-70 week-container mt-4">
            <div class="week-display d-flex justify-content-center align-items-center">
                <button mat-mini-fab class="me-1" (click)="navigateWeekBack()">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <a *ngFor="let day of weekDays$ | async" class="week-day ms-1 me-1" [class.active]="day.isActive" [routerLink]="['/flights/dashboard', day.urlDate]">
                    <mat-card>
                        <mat-card-title>
                            <!-- Mon -->
                            {{ day.date | date: 'EEE' }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            <!-- Jan 1 -->
                            {{ day.date | date: 'LLL d' }}
                        </mat-card-subtitle>
                        <mat-card-content>
                            <span class="day-count">{{ day.numFlights }} flights</span>
                        </mat-card-content>
                    </mat-card>
                </a>
                <button mat-mini-fab class="ms-1" (click)="navigateWeekForward()">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </nav>

         <!-- Heading -->
         <div class="d-md-flex m-4">
            <h1>Flights <span class="d-md-none">- {{ (date$ | async)?.toDate() | date: 'shortDate' }}</span></h1>
            <span class="flex-spacer"></span>
            <div>
                <button mat-icon-button title="Newest Flights First" (click)="sortDescending()" [disabled]="(sortDirection$ | async) === 'desc'">
                    <mat-icon>arrow_upward</mat-icon>
                </button>

                <button mat-icon-button title="Oldest Flights First" (click)="sortAscending()" [disabled]="(sortDirection$ | async) === 'asc'">
                    <mat-icon>arrow_downward</mat-icon>
                </button>

                <button mat-icon-button title="Reload Flights" (click)="refreshFlights()" [disabled]="isLoading$ | async">
                    <mat-icon>sync</mat-icon>
                </button>

                <button mat-fab color="accent" *ngIf="false" (click)="addFlight()" class="flex-right" title="Add a Flight">
                    <mat-icon>add</mat-icon>
                </button>

                <!-- https://stackoverflow.com/a/49358477 - Without the hiden form field, the calendar is opened in the upper left corner. This
                    is a hack to make it appear next to the trigger button -->
                <mat-form-field style="visibility: hidden; width: 1px;">
                    <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" style="display: none;" [value]="(date$ | async)!.toDate()"/>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-datepicker-toggle [for]="picker" title="Go to Date"></mat-datepicker-toggle>

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <!-- <button mat-menu-item>Auto Refresh</button> -->
                    <button mat-menu-item (click)="setDisplayMode(DisplayMode.Table)" *ngIf="(displayMode$ | async) != DisplayMode.Table">
                        <mat-icon>table_view</mat-icon> Table View
                    </button>
                    <button mat-menu-item (click)="setDisplayMode(DisplayMode.Card)" *ngIf="(displayMode$ | async) != DisplayMode.Card">
                        <mat-icon class="material-icons-outlined">view_agenda</mat-icon> Card View
                    </button>
                    <button mat-menu-item (click)="togglePricing()">
                        <mat-icon class="material-icons-outlined">attach_money</mat-icon> {{ (showPricing$ | async) ? "Hide" : "Show" }} Pricing Info
                    </button>
                    <button mat-menu-item (click)="uploader.click()" *ngIf="canManageFlights$ | async">
                        <mat-icon class="material-icons-outlined">upload</mat-icon> Upload IGC File
                    </button>
                    <input 
                        hidden 
                        type="file" 
                        #uploader
                        (change)="uploadIgcFile($event)"
                    />
                </mat-menu>
                <!-- Display Mode -->
                
            </div>
            
        </div>

        <!-- Card View -->
        <ng-container *ngIf="(displayMode$ | async) == DisplayMode.Card">
            <mat-card *ngFor="let flight of flights" class="mb-4">
                <mat-card-title>
                    <div class="d-flex justify-content-between">
                        <a [routerLink]="['/flights', flight.flightId]" class="flight-title" *ngIf="flight.flightId">
                            <h4>{{flight.aircraft?.description ?? "Unknown Glider"}} - {{flight.startDate | date: 'shortTime'}}</h4>
                        </a>
                        <span class="flight-title" *ngIf="!flight.flightId">
                            <h4>Unknown Glider - {{flight.startDate | date: 'shortTime'}}</h4>
                        </span>
                        <ng-container
                            *ngTemplateOutlet="moreButton; context: { flight: flight }"
                        ></ng-container>
                    </div>
                    <div  *ngIf="flight.towFlight">
                        <a mat-stroked-button [routerLink]="['/flights', flight.towFlight.flightId]" title="Tow Flight">{{ flight.towFlight.aircraft?.description ?? "Unknown Aircraft" }}</a>
                    </div>
                </mat-card-title>
                <mat-card-content>
                    
                    <span>Duration: {{ flight.duration != null ? (flight.duration | flightDuration) : "Unknown" }}</span>
                    <span class="ms-3">Release Height: {{ flight.statistics?.releaseHeight !== null ? mToFt(flight.statistics?.releaseHeight)  + "ft MSL" : "Unknown" }}</span>
                </mat-card-content>
            </mat-card>
            <p class="text-center" *ngIf="flights.length == 0">No flights on this date.</p>
        </ng-container>

        <!-- Table View -->
        <ng-container *ngIf="(displayMode$ | async) == DisplayMode.Table">
            <div class="table-container mb-4">
                <table mat-table
                    [dataSource]="flights$"
                    matSort
                    (matSortChange)="onTableSortChange($event)"
                    class="mat-elevation-z8 w-100"
                >

                    <!-- Takeoff Time Column -->
                    <ng-container matColumnDef="time">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header [disableClear]="true" [start]="(sortDirection$ | async) ?? ''" sortActionDescription="Sort by time"> Time </th>
                        <td mat-cell *matCellDef="let flight"> {{flight.startDate | date: 'shortTime'}} </td>
                    </ng-container>

                    <!-- Glider Description Column -->
                    <ng-container matColumnDef="glider">
                        <th mat-header-cell *matHeaderCellDef> Glider </th>
                        <td mat-cell *matCellDef="let flight"> {{formatGliderName(flight)}} </td>
                    </ng-container>

                    <!-- Duration Column -->
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef> Duration </th>
                        <td mat-cell *matCellDef="let flight">
                            <appFlightDuration [seconds]="flight.duration" defaultText="Unknown"></appFlightDuration>
                        </td>
                    </ng-container>

                    <!-- Release Height Column -->
                    <ng-container matColumnDef="releaseHeight">
                        <th mat-header-cell *matHeaderCellDef> Release Height (AGL) </th>
                        <td mat-cell *matCellDef="let flight">
                            <span *ngIf="flight.statistics?.releaseHeight != null">
                                {{ mToFt(flight.statistics?.releaseHeight)  + "ft" }} ({{ getAglReleaseHeight(flight) | async }}ft)
                            </span>
                            <span *ngIf="flight.statistics?.releaseHeight == null">
                                Unknown
                            </span>
                        </td>
                    </ng-container>

                    <!-- Pilots Column -->
                    <ng-container matColumnDef="pilots">
                        <th mat-header-cell *matHeaderCellDef> Pilot(s) </th>
                        <td mat-cell *matCellDef="let flight"> {{ formatPilot(flight) }} </td>
                    </ng-container>

                    <!-- Towplane Column -->
                    <ng-container matColumnDef="towplane">
                        <th mat-header-cell *matHeaderCellDef> Tow Plane </th>
                        <td mat-cell *matCellDef="let flight" (click)="$event.stopPropagation()">
                            <a mat-stroked-button [routerLink]="['/flights', flight.towFlight.flightId]" title="Tow Flight" *ngIf="flight.towFlight">{{ flight.towFlight.aircraft?.description ?? "Unknown Aircraft" }}</a>
                        </td>
                    </ng-container>

                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Est. Cost </th>
                        <td mat-cell *matCellDef="let flight">
                            <span class="flight-cost"
                                [ngbPopover]="costBreakdown"
                                popoverTitle="Estimated Cost Breakdown"
                                triggers="mouseenter:mouseleave"
                            >
                                {{ flight.cost?.total | currency }}
                            </span>
                            <ng-template #costBreakdown>
                                <table class="price-breakdown" *ngIf="flight.cost != null">
                                    <tr *ngFor="let lineItem of flight.cost.lineItems">
                                        <td>{{ lineItem.description }}</td>
                                        <td>{{ lineItem.quantity != null ? lineItem.quantity : "" }}</td>
                                        <td>{{ lineItem.unitCost != null ? "@" : "" }}</td>
                                        <td>
                                            <span *ngIf="lineItem.unitCost != null">
                                                {{ lineItem.unitCost | currency }}
                                                <span *ngIf="lineItem.units != null">
                                                    / {{ lineItem.units }}
                                                </span>
                                            </span>
                                        </td>
                                        <td>{{ lineItem.totalCost | currency }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">&nbsp;</td>
                                        <td>Total:</td>
                                        <td>{{ flight.cost.total | currency }}</td>
                                    </tr>
                                </table>
                                <small>*This tow height is only an estimate.</small>
                            </ng-template>
                        </td>
                        
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
                        <td mat-cell *matCellDef="let flight" style="width: 2em;" (click)="$event.stopPropagation()">
                            <ng-container
                                *ngTemplateOutlet="moreButton; context: { flight: flight }"
                            ></ng-container>
                        </td>
                    </ng-container>
                    

                    <tr mat-header-row *matHeaderRowDef="columns$ | async"></tr>
                    <tr mat-row *matRowDef="let row; let even = even; columns: columns$ | async;"
                        [class.clickable]="!!row.flightId"
                        [routerLink]="row.flightId ? ['/flights', row.flightId] : null"
                        [class.accent]="even"
                        [class.my-flight]="isMyFlight(row) | async"
                    ></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="(columns$ | async)!.length">
                          No flights on this date.
                        </td>
                    </tr>
                </table>
            </div>
        </ng-container>

        <button mat-fab id="navigate-day-back-button" class="d-md-none" (click)="navigateDayBackward()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-fab id="navigate-day-forward-button" class="d-md-none" (click)="navigateDayForward()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </ng-container>
</div>

<ng-template #loading>
    <div class="mt-4">
        <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner>
    </div>
</ng-template>

<ng-template #moreButton let-flight="flight">
    <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="!flight.flightId">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="flight.flightId">
            <ng-container *ngIf="user$ | async as user">
                <button mat-menu-item (click)="addToLogbook(flight, user)" *ngIf="!isUserOnFlight(flight, user)">Add to My Logbook</button>
                <button mat-menu-item (click)="removeFromLogbook(flight, user)" *ngIf="isUserOnFlight(flight, user)">Remove From My Logbook</button>
                <button mat-menu-item (click)="assignPilots(flight)" *ngIf="canAssignPilots$ | async">Assign Pilots</button>
                <button mat-menu-item (click)="downloadIgc(flight)" *ngIf="flight.igcFileName">Download IGC File</button>
            </ng-container>
        </ng-container>
        <!-- <button mat-menu-item (click)="uploadIgc(flight)" *ngIf="!flight.igcFileName">Upload IGC File</button> -->
    </mat-menu>
</ng-template>