

.week-container {
    margin-left: auto;
    margin-right: auto;

    .week-display {

        flex: 1 1 0px;
    
        .week-day {
            display: block;
            text-decoration: none;
            color: inherit;
            // background-color: lightgray;
        }

        .week-day:hover mat-card {
            background-color: lightgray;
        }

        .week-day.active mat-card {
            background-color: lightgray;
        }
    }
}

.flight-title {
    text-decoration: none;
}

#navigate-day-back-button {
    position: fixed;
    bottom: 1em;
    left: 1em;
}

#navigate-day-forward-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
}



.table-container {
    overflow-x: auto;

    table {
        min-width: 700px;
    }
    
}

table {
    tr.clickable {
        cursor: pointer;
        transition: 0.1s;
    }
    
    tr.clickable:hover {
        background-color: #e0e0e0;
    }
    
    tr.accent {
        background-color: #f0f0f0;
    }
}