<div class="container">
    <div class="d-flex justify-content-between m-4">
        <h1>Flights</h1>
        <button mat-fab color="accent" (click)="addFlight()" class="flex-right" title="Add a Flight">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="week-display">
        <a *ngFor="let day of weekDays$ | async" class="week-day" [routerLink]="['flights', 'dashboard', day.date]">
            <p class="day-label">{{ day.abbreviation }}</p>
            <span class="day-count">{{ day.numFlights }}</span>
        </a>
    </div>

    <mat-card *ngFor="let flight of flights$ | async" class="mb-4">
        <mat-card-title>
            <div class="d-flex justify-content-between">
                <h4>{{flight.aircraft?.description}} - {{flight.startDate | date: 'shortTime'}}</h4>
                <button mat-mini-fab color="accent" (click)="downloadIgc(flight)" *ngIf="flight.igcFileName" title="Download IGC File" aria-label="Download IGC File">
                    <mat-icon>file_download</mat-icon>
                </button>
                <button mat-mini-fab color="accent" (click)="uploadIgc(flight)" *ngIf="!flight.igcFileName">
                    <mat-icon>file_upload</mat-icon>
                </button>
            </div>
        </mat-card-title>
        <mat-card-content>
            <p>Duration: {{ formatDuration(flight.duration) }}</p>
        </mat-card-content>
    </mat-card>
</div>