@import './../theme.scss';

main {
    min-height: 95vh;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $color-gray;
    color: white;

    img {
        width: 5em;
        border-radius: 0.5em;
    }
    
}