<mat-toolbar color="primary">
    <a [routerLink]="['/']" class="navbar-brand me-2">
        <h1>Glider Viewer</h1>
    </a>
    <div class="d-none d-sm-block">
        <a mat-button *ngIf="canViewAllUsers$ | async" [routerLink]="['/pilots']">Pilots</a>
        <a href="/igc-files/" target="_blank" mat-button>IGC File Repository</a>
    </div>

    <span class="flex-spacer"></span>

    <div class="d-none d-sm-block">
        <a mat-button class="ms-2" (click)="logIn()" *ngIf="!(isAuthenticated$ | async)">Log In</a>
        <a mat-button class="ms-2" [matMenuTriggerFor]="profileMenu" *ngIf="user$ | async as user">
            <mat-icon class="me-1">account_circle</mat-icon>
            {{ user.name }}
        </a>
        <mat-menu #profileMenu="matMenu">
            <a mat-menu-item [routerLink]="['/user/profile']">My Profile</a>
            <a mat-menu-item [routerLink]="['/user/logbook']">Logbook</a>
            <button mat-menu-item (click)="logOut()">Log Out</button>
        </mat-menu>
    </div>

    <button mat-icon-button class="d-sm-none flex-right" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item href="/igc-files/" target="_blank">IGC File Repository</a>
        <!-- <button mat-menu-item (click)="uploadIgc(flight)" *ngIf="!flight.igcFileName">Upload IGC File</button> -->
    </mat-menu>
    
</mat-toolbar>
<router-outlet></router-outlet>