<div class="container pt-4">
    <div class="d-flex justify-content-between">
        <h1>Leaderboard</h1>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [value]="date$ | async" (dateChange)="onDateChange($event)" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    
    
    <div *ngIf="leaderboard$ | async as leaderboard; else loading">
        <h2>Today</h2>
        <p>Total flights: {{leaderboard.numFlightsToday}}</p>
        <ng-container
            *ngTemplateOutlet="flightsData; context: { longestLength: leaderboard.maxDistanceFromFieldToday, longestDuration: leaderboard.longestDurationFlightsToday }"
        ></ng-container>
        <h2>Month</h2>
        <p>Total flights: {{leaderboard.numFlightsThisMonth}}</p>
        <ng-container
            *ngTemplateOutlet="flightsData; context: { longestLength: leaderboard.maxDistanceFromFieldThisMonth, longestDuration: leaderboard.longestDurationFlightsThisMonth }"
        ></ng-container>
        <h2>Year</h2>
        <p>Total flights: {{leaderboard.numFlightsThisYear}}</p>
        <ng-container
            *ngTemplateOutlet="flightsData; context: { longestLength: leaderboard.maxDistanceFromFieldThisYear, longestDuration: leaderboard.longestDurationFlightsThisYear }"
        ></ng-container>
    </div>

    <ng-template #loading>
        <div class="mt-4">
            <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner>
        </div>
    </ng-template>

    <ng-template #flightsData let-longestLength="longestLength" let-longestDuration="longestDuration">
        <div class="row">
            <div class="col-lg-6">
                <h5>Longest Time Aloft</h5>
                <p *ngIf="longestDuration.length == 0">No flights to display.</p>
                <table class="table table-hover" *ngIf="longestDuration.length > 0">
                    <tbody>
                        <tr *ngFor="let flight of longestDuration; let i = index" class="clickable-row" (click)="onFlightClick(flight)">
                            <td>{{ i + 1}}.</td>
                            <td>{{formatDuration(flight.duration)}}</td>
                            <td>{{flight.aircraft?.description ?? "Unknown Glider"}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div class="col-lg-6">
                <h5>Max Distance from Field</h5>
                <p *ngIf="longestLength.length == 0">No flights to display.</p>
                <table class="table table-hover" *ngIf="longestLength.length > 0">
                    <tbody>
                        <tr *ngFor="let flight of longestLength; let i = index" class="clickable-row" (click)="onFlightClick(flight)">
                            <td>{{ i + 1}}.</td>
                            <td>{{formatDistance(flight.statistics!.maxDistanceFromField)}}</td>
                            <td>{{flight.aircraft?.description ?? "Unknown Glider"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-template>
</div>