<h1 mat-dialog-title>Update Password</h1>

<form (submit)="onSubmit($event)" [formGroup]="form">
    <div mat-dialog-content>

        <mat-form-field appearance="fill">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" required="required" maxlength="100" formControlName="currentPassword" />
        </mat-form-field>
        <mat-form-field appearance="fill" [class.mb-4]="newPassword.touched && newPassword.hasError('password')">
            <mat-label>New Password</mat-label>
            <input matInput type="password" required="required" maxlength="100" formControlName="newPassword" />
            <mat-error *ngIf="newPassword.hasError('password')">
                {{ newPassword.errors!["password"] }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" required="required" maxlength="100" formControlName="newPasswordConfirm" />
            <mat-error *ngIf="newPasswordConfirm.hasError('passwords-match')">Passwords must match.</mat-error>
        </mat-form-field>

        <p class="error-message" *ngIf="error">{{ error }}</p>

    </div>

    <div mat-dialog-actions class="justify-content-end">
        <button type="button" mat-raised-button (click)="onClose()">Cancel</button>
        <button type="submit" mat-raised-button color="primary">Update Password</button>
    </div>

</form>