$blue-palette: (
    50 : #e0f5fc,
    100 : #b3e6f8,
    200 : #80d5f3,
    300 : #4dc4ee,
    400 : #26b7eb,
    500 : #00aae7,
    600 : #00a3e4,
    700 : #0099e0,
    800 : #0090dd,
    900 : #007fd7,
    A100 : #feffff,
    A200 : #cbe7ff,
    A400 : #98d0ff,
    A700 : #7fc4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$gray-palette: (
    50 : #f0f1f1,
    100 : #dadddd,
    200 : #c2c6c6,
    300 : #a9afaf,
    400 : #969d9d,
    500 : #848c8c,
    600 : #7c8484,
    700 : #717979,
    800 : #676f6f,
    900 : #545c5c,
    A100 : #cbfbfb,
    A200 : #9cf7f7,
    A400 : #61ffff,
    A700 : #47ffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
