<div class="container pt-4">
    <div class="d-flex mb-4">
        <h1>Registered Pilots</h1>
        <span class="flex-spacer"></span>
        <button mat-raised-button (click)="createUser()">Create new User</button>
    </div>
    <ng-container *ngIf="users$ | async as users; else loading">
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Account Set Up</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role == 'A' ? 'Admin' : 'Pilot' }}</td>
                    <td>{{ user.isSetUp ? 'Yes' : 'No' }}</td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onEditUser(user)">Edit</button>
                            <button mat-menu-item (click)="onDeleteUser(user)">Delete</button>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </ng-container>
    <ng-template #loading>
        <div class="mt-4">
            <mat-spinner style="margin-left: auto; margin-right: auto;"></mat-spinner>
        </div>
    </ng-template>
</div>
